<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>

<a href="/todo/addtodo"><button>Create Todo</button></a>


<h1>Hello from todo</h1>


<table>
    <thead>
    <tr>
        <th>Title </th>
        <th>Description</th>
        <th>dueDate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="geting : ${get}">
        <td th:text="${geting.title}"></td>
        <td th:text="${geting.description}"></td>
        <td th:text="${geting.dueDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>